@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Acrom-Light.woff2') format('woff2'),
    url('fonts/Acrom-Light.woff') format('woff');
}

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Acrom-Regular.woff2') format('woff2'),
    url('fonts/Acrom-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Acrom-Medium.woff2') format('woff2'),
    url('fonts/Acrom-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Futura-Bold.woff2') format('woff2'),
    url('fonts/Futura-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Acrom';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/Acrom-ExtraBold.woff2') format('woff2'),
    url('fonts/Acrom-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'MinionPro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/MinionPro-Regular.woff2') format('woff2'),
    url('fonts/MinionPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Futura-Bold.woff2') format('woff2'),
    url('fonts/Futura-Bold.woff') format('woff');
}
