.container {
  text-align: center;
  margin: 0 auto;

  &--small {
    width: 300px;
  }

  &--middle {
    width: 360px;
  }

  &--large {
    width: 460px;
  }
}

.text {
  font-size: 14px;
  color: $p_text;
  font-weight: 400;
  line-height: 20px;

  &--bold {
    color: $dark_main;
    font-weight: 500;
  }

  &--negative {
    color: $lite_main;
    background-color: $dark_main;
  }

  &--accent {
    color: $accent;
    font-weight: 500;
  }

  &--mark {
    color: $dark_main;
    font-weight: 500;
    background-color: $marker;
  }
}


.btn {
  font-size: 8px;
  color: $lite_main;
  font-weight: 900;
  background-color: $accent;
  box-shadow: $btn_shadow;
  line-height: 12px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 176px;
  min-height: 33px;

  &--small {
    padding: 20px 10px;
  }

  &--middle {
    padding: 28px 12px;
  }

  &--large {
    padding: 40px 12px;
  }

  &--header {
    padding: 36px 19px;
  }
}

.section_title {
  text-transform: uppercase;
  font-size: 18px;
  color: $dark_main;
  font-weight: 900;
  line-height: 24px;

  &--negative {
    color: $lite_main;
    background-color: $dark_main;
  }
}

