/*FONTS*/

$main_font: "Acrom", "Arial", sans-serif;     /*основной шрифт*/

$bg_font: "Futura", "Arial", sans-serif;     /*фоновые цифры секции наград*/

$review_font: "Minion Pro", "Times New Roman", serif;     /*отзыв в слайдере*/

/*COLORS*/

$cg_dark: rgb(22, 29, 42);     /*круговой градиент темно синий*/

$cg_light: rgb(10, 33, 59);     /*круговой градиент светло синий*/

$arrows: rgb(23, 236, 255);     /*голубые стрелки хедера*/

$accent: rgb(255, 107, 8);     /*оранжевый*/

$lite_main: rgb(255, 255, 255);     /*белый*/

$dark_main: rgb(0, 0, 0);     /*черный*/

$bg_footer: rgb(24, 28, 39);     /*синий фон футера*/

$bg_lawbar: rgb(32, 32, 32);     /*цвет фона юридической секции*/

$law_info: rgb(101, 102, 106);     /*цвет юридического текста*/

$banner: rgb(5, 33, 57);     /*синий фон банера*/

$marker: rgb(22, 235, 254);     /*голубой маркер текста*/

$header_text: rgb(175, 176, 179);     /*абзац серого текста хедера*/

$p_text: rgb(63, 65, 68);     /*серый текст всех абзацов*/

$bg_text: rgb(247, 247, 247);     /*пепельный текст фоновых слов и символов*/

$goit_color: rgb(5, 7, 8);     /*темный цвет goit надписи хедера*/

$btn_shadow: rgba(196, 87, 15, 0.26);     /*цвет тени оранжевой кнопки*/

$contacts_footer: rgb(162, 162, 162);     /*текст контактов футера*/

$btn_border: rgb(27, 67, 113);     /*цвет рамки кнопки футера*/
