.page-container {
  min-width: 450px;
  width: 450px;
  margin: 0 auto;
  font-family: $main_font;
}

@media (min-width: 768px) {
  .page-container {
    min-width: 660px;
    width: 660px;
  }
}

@media (min-width: 992px) {
  .page-container {
    min-width: 732px;
    width: 732px;
  }
}

.container {
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--xxs {
    width: 180px;
  }

  &--xs {
    width: 200px;
  }

  &--s {
    width: 260px;
  }

  &--sm {
    width: 270px;
  }

  &--m {
    width: 300px;
  }

  &--l {
    width: 335px;
  }

  &--xl {
    width: 360px;
  }

  &--xxl {
    width: 380px;
  }
}
