.page-container {
  min-width: 450px;
  width: 450px;
  margin: 0 auto;
  font-family: $main_font;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*MEDIA*/

@media screen and (min-width: 768px) {
  .page-container {
    min-width: 660px;
    width: 660px;
  }

  .container {
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .page-container {
    min-width: 732px;
    width: 732px;
  }

  .container {
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
  }
}
