.text {
  font-size: 14px;
  color: $p_text;
  line-height: 20px;
  &--light {
    font-weight: 300;
  }

  &--semi-bold {
    color: $dark_main;
    font-weight: 500;
  }

  &--bold {
    color: $dark_main;
    font-weight: 700;
  }

  &--negative {
    color: $lite_main;
    background-color: $dark_main;
  }

  &--accent {
    color: $accent;
    font-weight: 500;
  }

  &--upper-bold {
    text-transform: uppercase;
    font-weight: 700;
  }

  &--mark {
    color: $dark_main;
    font-weight: 500;
    background-color: $marker;
  }
}
