.title {
  text-transform: uppercase;
  font-size: 18px;
  color: $dark_main;
  font-weight: 900;
  line-height: 24px;

  &--negative {
    color: $lite_main;
    background-color: $dark_main;
  }

  &--list {
    text-transform: uppercase;
    color: $dark_main;
    font-weight: 900;
    line-height: 20px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .title {
    text-transform: uppercase;
    font-size: 27px;
    color: $dark_main;
    font-weight: 900;
    line-height: 34px;
    
    &--negative {
      color: $lite_main;
      background-color: $dark_main;
    }
    
    &--list {
      text-transform: uppercase;
      color: $dark_main;
      font-weight: 900;
      line-height: 20px;
      font-size: 14px;
    }
  }
}

@media (min-width: 992px) {
  .title {
    text-transform: uppercase;
    font-size: 30px;
    color: $dark_main;
    font-weight: 900;
    line-height: 37px;
    
    &--negative {
      color: $lite_main;
      background-color: $dark_main;
    }
    
    &--list {
      text-transform: uppercase;
      color: $dark_main;
      font-weight: 900;
      line-height: 20px;
      font-size: 14px;
    }
  }
}
