.header {
  display: block;
  position: relative;
  padding: {
    top: 14px;
    bottom: 38px;
  }
  width: 100%;
  min-width: 480px;
  min-height: 614px;
  height: 100%;
  background: no-repeat url('../images/mob/blur.png') center bottom;
  object-fit: cover;
  background-color: $bg_footer;
}

.page--header {
  display: block;
  position: relative;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.page-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  width: 30px;
  height: 19px;
  cursor: pointer;

  &_line:nth-child(1) {
    display: block;
    width: 22px;
    height: 3px;
    background-color: $lite_main;
    border-radius: 1px;
    margin-bottom: 5px;
  }

  &_line:nth-child(2) {
    display: block;
    width: 16px;
    height: 3px;
    background-color: $lite_main;
    border-radius: 1px;
    margin-bottom: 5px;
  }

  &_line:nth-child(3) {
    display: block;
    width: 28px;
    height: 3px;
    background-color: $lite_main;
    border-radius: 1px;
  }
}

.page-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__title {
    width: 280px;
    margin-bottom: 40px;
    font: {
      size: 30px;
      weight: 900;
    }
    color: $lite_main;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    position: relative;
    font-size: 14px;
    width: 380px;
    font-weight: 700;
    color: $lite_main;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 160px;

    &::before,
    &::after {
      display: block;
      position: absolute;
      width: 9px;
      height: 9px;
      color: $arrows;
      font: {
        size: 23px;
        weight: 700;
      }
      line-height: 11.71px;
      text-transform: uppercase;
    }

    &::before {
      top: 4px;
      left: -18px;
      content: '<';
    }

    &::after {
      bottom: 6px;
      right: -18px;
      content: '/>';
    }
  }
}

.page-title {
  display: block;
  position: absolute;
  top: 254px;
  left: 50px;
  color: $goit_color;
  font: {
    family: $main_font;
    size: 120px;
    weight: 900;
  }
  line-height: 70px;
  text: {
    transform: uppercase;
    align: center;
  }
  margin: 0 0 40px 0;
}

.page-chance {
  display: block;
  margin: 0 auto;
  width: 344px;

  &__start {
    font: {
      size: 14px;
      weight: 700;
    }
    color: $lite_main;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  &__income {
    color: $header_text;
    font: {
      family: $main_font;
      size: 14px;
      weight: 400;
    }
    line-height: 20px;
    margin-bottom: 36px;
  }
}

.page-button {
  display: block;
  border: none;
  margin: 0 auto;
}

.page-socials {
  display: none;
  // display: block;
}

@media (min-width: 768px) {
  .page-container {
    min-width: 660px;
    width: 660px;
  }

  .header {
    display: block;
    position: relative;
    padding: {
      top: 14px;
      bottom: 38px;
    }
    width: 100%;
    min-width: 480px;
    min-height: 475px;
    height: 100%;
    background: no-repeat url('../images/mob/blur.png') center bottom;
    object-fit: cover;
    background-color: $bg_footer;

    // &::before {
    //   display: block;
    //   position: relative;
    //   top: 0;
    //   right: 0;
    //   background: no-repeat url('../images/tab/header.png') center center;
    //   object-fit: cover;
    //   min-width: 466px;
    //   width: 100%;
    //   min-height: 636px;
    //   height: 100%;
    //   z-index: 100;
    // }
  }

  .page-nav {
    margin-bottom: 45px;
  }

  .page-wrap {
    display: flex;
    justify-content: space-between;
  }

  .page-heading {
    width: 400px;
    margin-right: 76px;

    &__title {
      display: block;
      position: relative;
      width: 390px;
      // margin-right: 76px;
      font: {
        size: 45px;
        weight: 900;
      }
      line-height: 56px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 150px;
        bottom: 77px;
        width: 46px;
        height: 8px;
        background-color: $lite_main;
      }

      &-text {
        padding-left: 90px;

        &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: 22px;
          width: 57px;
          height: 8px;
          background-color: $lite_main;
        }
      }
    }

    &__text {
      width: 173px;
      font-size: 8px;
      font-weight: 700;
      line-height: 13px;
      text-align: left;
    }
  }

  .page-title {
    display: block;
    position: absolute;
    top: 164px;
    left: 5px;
    width: 623px;
    color: $goit_color;
    font-size: 236px;
    line-height: 101px;
  }

  .page-chance {
    display: inline-block;
    width: 200px;

    &__start {
      font: {
        size: 14px;
        weight: 700;
      }
      color: $lite_main;
      line-height: 20px;
      text-transform: uppercase;
      margin-bottom: 14px;
    }

    &__income {
      color: $header_text;
      font: {
        family: $main_font;
        size: 14px;
        weight: 400;
      }
      line-height: 20px;
      text-align: left;
      margin-bottom: 36px;
    }
  }

  .btn-header {
    display: inline-block;
    position: absolute;
    bottom: 100px;
    left: 110px;
    font-size: 7px;
    line-height: 11px;
    letter-spacing: 1.25px;
    padding: 11px 15px;
  }

  .page-socials {
    display: inline-flex;
    position: absolute;
    justify-content: space-between;
    width: 32px;
    height: 11px;
    bottom: 0;
    right: 0;
    // @extend %list;

    &__item {
      display: block;
      position: relative;

      &-icon {
        display: block;
        position: absolute;
        right: 0;
        bottom: 160px;
        width: 10px;
        height: 10px;
        fill: $lite_main;
      }
    }
  }
}
