.header {
  position: fixed;
  display: block;
  position: relative;
  padding: {
    top: 14px;
  }
  width: 100%;
  min-width: 450px;
  min-height: 614px;
  height: 100%;
  background: no-repeat url('../images/mob/blur.png') center bottom;
  object-fit: cover;
  background-color: $bg_footer;
  margin-bottom: 55px;
}

.page--header {
  display: block;
  position: relative;
  padding-bottom: 40px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
}

.page-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  width: 30px;
  height: 19px;
  cursor: pointer;

  &_line:nth-child(1) {
    display: block;
    width: 22px;
    height: 3px;
    background-color: $lite_main;
    border-radius: 1px;
    margin-bottom: 5px;
  }

  &_line:nth-child(2) {
    display: block;
    width: 16px;
    height: 3px;
    background-color: $lite_main;
    border-radius: 1px;
    margin-bottom: 5px;
  }

  &_line:nth-child(3) {
    display: block;
    width: 28px;
    height: 3px;
    background-color: $lite_main;
    border-radius: 1px;
  }
}

.page-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__title {
    width: 280px;
    margin-bottom: 40px;
    font: {
      size: 30px;
      weight: 900;
    }
    color: $lite_main;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    position: relative;
    font-size: 14px;
    width: 380px;
    font-weight: 700;
    color: $lite_main;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 160px;

    &::before,
    &::after {
      display: block;
      position: absolute;
      width: 9px;
      height: 9px;
      color: $arrows;
      font: {
        size: 23px;
        weight: 700;
      }
      line-height: 11.71px;
      text-transform: uppercase;
    }

    &::before {
      top: 4px;
      left: -18px;
      content: '<';
    }

    &::after {
      bottom: 6px;
      right: -18px;
      content: '/>';
    }
  }
}

.page-title {
  display: block;
  position: absolute;
  top: 254px;
  left: 50px;
  color: $goit_color;
  font: {
    family: $main_font;
    size: 120px;
    weight: 900;
  }
  line-height: 70px;
  text: {
    transform: uppercase;
    align: center;
  }
  margin: 0 0 40px 0;
}

.page-chance {
  display: block;
  margin: 0 auto;
  width: 344px;

  &__start {
    font: {
      size: 14px;
      weight: 700;
    }
    color: $lite_main;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  &__income {
    color: $header_text;
    font: {
      family: $main_font;
      size: 14px;
      weight: 400;
    }
    line-height: 20px;
    margin-bottom: 36px;
  }
}

.page-button {
  display: block;
  border: none;
  margin: 0 auto;
}

.page-socials {
  display: none;
}

.content-photo {
  display: none;
}

@media (min-width: 768px) {
  .page--header {
    display: block;
    position: relative;
    &::before {
      content: '01 _';
      display: block;
      position: absolute;
      bottom: 35px;
      left: 16px;
      transform-origin: bottom left;
      transform: rotateZ(-90deg);
      color: $lite_main;
      font: {
        family: $main_font;
        size: 16px;
        weight: 500;
      }
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
    }

    &::after {
      content: '';
      background-image: url('/images/tab/header.png');
      background-size: contain;
      width: 473px;
      height: 475px;
      display: block;
      position: absolute;
      z-index: 1;
      right: -50px;
      bottom: 0;
    }
  }

  .header {
    display: block;
    position: relative;
    padding: {
      top: 14px;
    }
    width: 100%;
    min-width: 480px;
    min-height: 475px;
    height: 100%;
    background: no-repeat url('../images/mob/blur.png') center center;
    object-fit: cover;
    background-color: $bg_footer;
    overflow: hidden;
    margin-bottom: 90px;
  }

  .page-nav {
    margin-bottom: 45px;
  }

  .page-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .page-heading {
    z-index: 10;
    width: 400px;
    margin-right: 76px;

    &__title {
      display: block;
      position: relative;
      width: 390px;
      font: {
        size: 45px;
        weight: 900;
      }
      line-height: 56px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 150px;
        bottom: 77px;
        width: 46px;
        height: 8px;
        background-color: $lite_main;
      }

      &-text {
        padding-left: 90px;

        &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: 22px;
          width: 57px;
          height: 8px;
          background-color: $lite_main;
        }
      }
    }

    &__text {
      width: 173px;
      font-size: 8px;
      font-weight: 700;
      line-height: 13px;
      text-align: left;
    }
  }

  .page-title {
    display: block;
    position: absolute;
    top: 164px;
    left: 5px;
    width: 623px;
    color: $goit_color;
    font-size: 236px;
    line-height: 101px;
  }

  .page-chance {
    display: inline-block;
    width: 200px;
    z-index: 10;

    &__start {
      font: {
        size: 14px;
        weight: 700;
      }
      color: $lite_main;
      line-height: 20px;
      text-transform: uppercase;
      margin-bottom: 14px;
    }

    &__income {
      color: $header_text;
      font: {
        family: $main_font;
        size: 14px;
        weight: 400;
      }
      line-height: 20px;
      text-align: left;
      margin-bottom: 36px;
    }
  }

  .btn-header {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    bottom: 100px;
    left: 110px;
    font-size: 7px;
    line-height: 11px;
    letter-spacing: 1.25px;
    padding: 11px 15px;
  }

  .page-socials {
    display: inline-flex;
    position: absolute;
    justify-content: space-between;
    right: 0;
    bottom: 180px;
    width: 32px;
    height: 11px;

    &__item {
      display: block;

      &-icon {
        display: block;
        width: 10px;
        height: 10px;
        fill: $lite_main;
      }
    }
  }

  .content-photo {
    display: block;
    position: absolute;
    bottom: -200px;
    top: 100px;
    right: 0;
  }
}

@media (min-width: 992px) {
  .header {
    display: block;
    position: relative;
    padding: {
      top: 24px;
    }
    width: 100%;
    min-width: 480px;
    min-height: 475px;
    height: 100%;
    background: no-repeat url('../images/mob/blur.png') center center;
    object-fit: cover;
    background-color: $bg_footer;
    overflow: hidden;
    margin-bottom: 125px;
  }

  .page-logo {
    display: block;
    position: absolute;
    top: 0;
    left: -110px;
  }

  .page-menu {
    display: flex;
    position: absolute;
    top: 0;
    right: -110px;
  }

  .page-socials {
    display: flex;

    &__item {
      display: inline-block;
      position: relative;

      &-icon {
        position: absolute;
        right: -110px;
        bottom: -150px;
      }
    }
  }

  .page--header {
    display: block;
    position: relative;

    &::before {
      left: -98px;
      font: {
        family: $main_font;
        size: 16px;
        weight: 500;
      }
    }
    &::after {
      background-image: url('/images/desk/header.png');
    }
  }
}

@media screen and (min-width: 768px), (min-resolutin: 192dpi) {
  .page--header {
    &::after {
      background-image: url('/images/tab/header@2x.png');
    }
  }
}

@media screen and (min-width: 992px), (min-resolutin: 192dpi) {
  .page--header {
    &::after {
      background-image: url('/images/desk/header@2x.png');
    }
  }
}
