.main-footer {
  background-color: $bg_footer;
}

.block-footer {
  padding: 36px 0px 31px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-address {
  display: block;
  margin-left: 20px;

  &__title {
    color: $lite_main;
    font: {
      family: $main_font;
      size: 10px;
      weight: 900;
    }
    line-height: 7.03px;
    text-transform: uppercase;
    letter-spacing: 2.56px;
    margin-bottom: 11px;
  }

  &__text {
    width: 80px;
    color: $contacts_footer;
    font: {
      family: $main_font;
      size: 9px;
      weight: 400;
    }
    letter-spacing: 0.81px;
    line-height: 13px;
  }
}

.footer-info {
  display: block;
  width: 92px;
  margin-left: 20px;
  margin-right: 20px;

  &__title {
    color: $lite_main;
    font: {
      family: $main_font;
      size: 10px;
      weight: 900;
    }
    line-height: 7.03px;
    text-transform: uppercase;
    letter-spacing: 2.56px;
  }

  &__mail {
    color: $contacts_footer;
    @extend %link;
    font: {
      family: $main_font;
      size: 9px;
      weight: 400;
    }
    letter-spacing: 0.81px;
    line-height: 10px;
  }

  &__tel {
    @extend %link;
    color: $contacts_footer;
    font: {
      family: $main_font;
      size: 9px;
      weight: 400;
    }
    letter-spacing: 0.81px;
    line-height: 13px;
  }
}

.footer-socials {
  display: none;
}

.page-button {
  display: inline-block;
  min-width: 141px;
  padding: 2px 15px;
  color: $lite_main;
  background-color: transparent;
  font: {
    family: $main_font;
    size: 9px;
    weight: 900;
  }
  line-height: 23.42px;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  border: none;
  outline: 1px solid $btn_border;
  cursor: pointer;
}
