.reason {
  margin-bottom: 75px;

  &-questions {
    max-width: 425px;
    margin-bottom: 25px;
  }
}

.reason-answers {
  width: 280px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 45px;

  &__probably {
    display: flex;
    font-family: $main_font;
    font-size: 14px;
    font-weight: 900;
    color: $dark_main;
    margin-right: -20px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-left: 40px;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      background-color: $dark-main;
      width: 25px;
      height: 3px;
      margin: 3px 15px 3px 0;
      transform: translateX(-45px);
    }
  }

  &::after {
    display: block;
    position: absolute;
    content: 'YOU';
    top: -70px;
    left: -75px;
    width: 70px;
    height: 210px;
    color: $pe_color;
    font: {
      family: $main_font;
      size: 100px;
      weight: 900;
    }
    line-height: 200px;
    text-transform: uppercase;
    transform: rotateZ(90deg);
  }

  &__if-you {
    align-self: flex-start;
    font-family: $main_font;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 25px;
  }

  &__title {
    font-family: $main_font;
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    text-transform: uppercase;
    color: $dark_main;
    margin-bottom: 45px;

    &--blk-backgrd {
      color: $lite_main;
      background-color: $dark_main;
      padding: 0 3px;
    }
  }
}

.reason-answers__list {
  list-style-type: none;
  max-width: 390px;

  &-item {
    position: relative;
    font-family: $main_font;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $p_text;
    margin-bottom: 25px;

    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      display: inline-block;
      background-color: $dark_main;
      top: 6px;
      left: -15px;
    }

    &--bold-text {
      font-weight: 800;
      color: $dark_main;
    }
  }
}

.reason-answers__afterword {
  font-family: $main_font;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $accent;
  text-align: center;
  max-width: 292px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .reason {
    display: flex;
    margin-bottom: 90px;

    &-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 275px;
    }

    &-questions {
      max-width: 205px;
      order: 2;
      margin-bottom: 35px;
    }

    &-answers {
      max-width: 225px;
      order: 3;
      padding-top: 0;
      margin: 0;

      &::after {
        font-size: 140px;
        top: 35px;
        left: -305px;
        z-index: -1;
      }

      &__title {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 0;
      }

      &__probably {
        font-size: 10px;
        width: 155px;
        padding-left: 45px;
      }

      &__if-you {
        margin-left: 0;
      }
    }
  }

  .afterword-box {
    display: flex;
    justify-content: flex-end;
    width: 660px;
  }

  .reason-answers__afterword {
    width: 180px;
    font-size: 10px;
    line-height: 14px;
    text-align: left;
    margin: 0;
  }

  .reason-answers__list {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 660px;

    &-item {
      width: 144px;
      font-size: 8px;
      font-weight: 400;
      line-height: 13px;
      margin-bottom: 30px;

      &::before {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .reason {
    margin-bottom: 125px;
    display: flex;

    &-answers::after {
      font-size: 156px;
      top: 70px;
      left: -390px;
    }

    &-box {
      position: relative;
      margin-top: 75px;
      width: 732px;
      display: flex;
      justify-content: space-between;
    }
  }

  &-questions {
    max-width: 225px;
  }

  .reason-answers__afterword {
    width: 145px;
    font-size: 10px;
    line-height: 14px;
  }

  .reason-answers__list {
    display: flex;
    width: 530px;
    flex-direction: column;
    height: 270px;
    align-content: space-between;
    justify-content: normal;

    &-item {
      width: 165px;
      font-size: 9px;
      font-weight: 400;
      line-height: 13px;
      margin-bottom: 20px;

      &:nth-child(3){
        margin-bottom: 0;
      }
    }
  }

  .afterword-box {
    width: 730px;
    transform: translateY(-70px);
  }
}

