.secondary-footer {
  background-color: $bg_lawbar;
}

.block__secondary-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.security {
  @extend %list;
  display: flex;
  justify-content: space-between;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    & a {
      @extend %link;
      color: $law_info;
      font: {
        family: $main_font;
        size: 6px;
        weight: 300;
      }
      line-height: 16px;
      letter-spacing: 0.92px;
    }
  }
}

.logo__secondary-footer {
  @extend %link;
}

@media screen and (min-width: 768px) {
  .block__secondary-footer {
    padding: 9px 0;
  }

  .security {
    display: flex;

    &__item {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      & a {
        color: $law_info;
        font-size: 7px;
        line-height: 23px;
        letter-spacing: 0.72px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .block__secondary-footer {
    padding: 14px 0 15px 0;
  }

  .security {
    display: flex;

    &__item {
      margin-right: 14px;

      &:last-child {
        margin-right: 0;
      }

      & a {
        color: $law_info;
        font-size: 8px;
        line-height: 26px;
        letter-spacing: 0.72px;
      }
    }
  }
}
