.because {
  margin-bottom: 60px;

  &__title {
    width: 60%;
    padding-left: 10%;
    align-self: flex-start;
    margin-bottom: 15px;

    &-wrap {
      margin-bottom: 20px;
      display: flex;
      flex-flow: row wrap;
      align-self: flex-start;
      width: 150px;
    }

    &-lines {
      padding: 0 3px;
    }
  }

  &__text {
    &:first-child {
      margin-bottom: 15px;
    }
  }
}

.however {
  width: 75%;
  display: flex;
  order: -1;
}

.text-wrap {
  display: flex;
  flex-flow: column;
  width: 80%;
}

.many-people {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.half-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.picture-tab {
  display: none;
}

.because-pic {
  padding-top: 30px;
  margin-bottom: 15px;
}

.But-if-you-dont {
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
  margin-bottom: 20px;
  width: 200px;
}

.but {
  width: 75%;
}

@media screen and (min-width: 768px) {
  .because {
    display: flex;
    align-items: flex-start;
    margin-bottom: 90px;

    &-title {
      width: 27%;

      &-descr {
        width: 37%;
      }
    }

    &__title {
      width: 100%;
    }

    &__title-wrap {
      width: 95px;
    }

    &__text-wrap {
      width: 178px;
    }

    &__text {
      &:last-child {
        margin-bottom: 15px;
      }
    }
  }

  .many-people {
    width: 660px;
    justify-content: space-between;
  }

  .half-2 {
    width: 660px;
    flex-flow: column wrap;
    align-content: space-between;
    height: 306px;
  }

  .however {
    display: flex;
    order: 1;
    width: 47%;
  }

  .but {
    order: 1;
    width: 47%;
  }

  .But-if-you-dont {
    width: 118px;
  }

  .text-wrap {
    width: 35%;
  }
}

@media screen and (min-width: 992px) {
  .because {
    margin-bottom: 125px;
  }

  .many-people {
    width: 714px;
  }

  .because {
    &__title-wrap {
      width: 100px;
    }

    &__text-wrap {
      width: 198px;
    }
  }

  .But-if-you-dont {
    width: 130px;
  }

  .half-2 {
    width: 734px;
  }
}
