.course {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 65px;

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    width: 60%;
    padding-left: 25px;
    color: $dark_main;
    position: relative;
    margin-bottom: 35px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 6px;
      width: 16px;
      height: 3px;
      background-color: $dark_main;
    }
  }

  &__image {
    margin-bottom: 35px;
  }

  &-list {
    width: 60%;
    &__item:nth-last-of-type(n+2) {
      margin-bottom: 30px;
    }

    &__text {
      padding-top: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .course {
    height: 400px;
    flex-flow: column wrap;
    margin-bottom: 90px;

    &-list,
    &__title,
    &__text {
      order: 2;
      width: 33%;
    }

    &__title {
      margin-bottom: 20px;
    }

    &-list {

      &__item:nth-last-of-type(n+2) {
        margin-bottom: 20px;
      }

      &__text {
        padding-top: 5px;
      }
    }

    &-author {
      order: 1;
      width: 50%;
      align-self: flex-start;
    }
  }
}

@media screen and (min-width: 992px) {
  .course {
    height: 420px;
    margin-bottom: 125px;
  }
}
