.get-now {
  margin-bottom: 60px;
}

.get-now__img {
  position: relative;

  &::before {
    content: 'IT';
    display: block;
    position: absolute;
    top: -60px;
    right: 50px;
    transform: rotateZ(90deg);
    width: 159px;
    height: 230px;
    z-index: -1;
    color: $pe_color;
    font: {
      family: $main_font;
      size: 240px;
      weight: 900;
    }
  }
}

.getnow {
  &__facts {
    width: 330px;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 25px;

    &-descr {
      margin-bottom: 55px;
    }
  }

  &-list {
    &__title {
      margin-bottom: 30px;
    }

    &__item {
      &:nth-last-of-type(n + 2) {
        margin-bottom: 30px;
      }
      &-title {
        margin-bottom: 15px;
      }
    }
  }
}

.getnow-list {
  width: 280px;
  &__item {
    &-title {
    }

    &-text {
    }
  }
}
