.career-web__descr {
  width: 310px;
  &-title {
    padding-left: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      display: block;
      background-color: $dark_main;
      width: 8px;
      height: 8px;
      top: 0;
      left: 0;
      transform: translateY(8px);
    }
  }

  &-text {
  }
}
