.block-result {
  padding: 24px 0 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-title {
  width: 229px;
  color: $dark_main;
  font: {
    family: $main_font;
    size: 18px;
    weight: 900;
  }
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.final-list {
  &__item {
    margin-bottom: 27px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      font-size: 13px;
      line-height: 19px;
      font-weight: 700;
    }

    &-text {
      font-size: 13px;
      line-height: 19px;
      color: $p_text;
    }
  }
}

.load-more {
  font-size: 13px;
  line-height: 19px;
  position: relative;
  margin-bottom: 45px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 5px;
    left: -20px;
    width: 20px;
    height: 2px;
    transform: rotateZ(-60deg);
    background-color: $dark_main;
    padding-right: 10px;
  }
}

.btn {
  font-size: 12px;
  color: $lite_main;
  font-weight: 900;
  background-color: $accent;
  box-shadow: $btn_shadow;
  line-height: 18px;
  text-transform: uppercase;
}
