.final-result {
  margin-bottom: 60px;

  &__title {
    width: 260px;
    margin-bottom: 45px;
  }

  &__accent {
    margin-bottom: 35px;
  }
}

.final-list {
  width: 270px;
  margin-bottom: 50px;

  &__item {
    &:nth-last-of-type(n + 2) {
      margin-bottom: 30px;
    }

    &-title {
      font-size: 13px;
      line-height: 19px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    &-text {
      font-size: 13px;
      line-height: 19px;
      color: $p_text;
    }
  }
}

.load-more {
  width: 200px;
  font-size: 13px;
  line-height: 19px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 5px;
    left: -20px;
    width: 20px;
    height: 2px;
    transform: rotateZ(-60deg);
    background-color: $dark_main;
    padding-right: 10px;
  }
}

.final-pic{
  display: none;
}

@media screen and (min-width: 768px) {
  .final-result {
    display: flex;
    margin-bottom: 90px;

    &__title {
      width: 330px;
      margin-bottom: 30px;
    }
  }

  .final-list {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 330px;

    &__item {
      width: 152px;
      margin-right: 10px;

      &:nth-last-of-type(n + 2) {
        margin-bottom: 23px;
      }

      &-title {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 10px;
        width: 90px;
      }
  
      &-text {
        font-size: 10px;
        line-height: 11px;
        color: $p_text;
      }
    }
  }

  .load-more {
    font-size: 10px;
    line-height: 13px;
    width: 110px;
    margin-bottom: 10px;
  }

  .final-pic{
    display: block;
    width: 257px;
    height: 100%;
  }

  .final-wrap{
    position: relative;
  }

  .final-box{
    position: absolute;
    bottom: 15%;
    right: -10%;
  }
}
@media screen and (min-width: 992px) {
  .final-result {
    display: flex;
    margin-bottom: 125px;

    &__title {
      width: 370px;
      margin-bottom: 35px;
    }

  }

  .final-list {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 357px;

    &__item {
      width: 152px;
      margin-right: 10px;

      &:nth-last-of-type(n + 2) {
        margin-bottom: 23px;
      }

      &-title {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 10px;
        width: 90px;
      }
  
      &-text {
        font-size: 10px;
        line-height: 11px;
        color: $p_text;
      }
    }
  }

  .load-more {
    font-size: 10px;
    line-height: 13px;
    width: 115px;
    margin-bottom: 10px;
  }

  .final-pic{
    display: block;
    width: 287px;
    height: 100%;
  }

  .box{
    position: absolute;
    bottom: 15%;
    right: 0%;
  }
}