.profession {
  margin-bottom: 47px;

  &__title {
    margin-bottom: 20px;

    &-wrap {
      width: 220px;
      margin-bottom: 25px;
    }
  }

  &__img {
    margin-bottom: 40px;
  }

  &__title-descr {
    font: {
      size: 13px;
      weight: 500;
    }
    line-height: 19px;
    width: 260px;
    padding-left: 25px;
    color: $dark_main;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 6px;
      width: 16px;
      height: 3px;
      background-color: $dark_main;
    }
  }

  &__text {
    &-title {
      margin-bottom: 16px;
      align-self: flex-start;
    }

    &-descr {
      width: 220px;
    }
  }
}

/*MEDIA*/

@media screen and (min-width: 768px) {
  .profession {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__title {
      &-wrap {
        width: 255px;
      }

      &-descr {
        width: 190px;
        font-size: 9px;
      }
    }

    &__text {
      display: flex;
      flex-flow: column;
      width: 140px;

      &-descr {
        width: 140px;
      }
    }
  }

  .text--upper-bold {
    font-size: 13px;
  }
}

@media screen and (min-width: 992px) {
  .profession {
    align-items: flex-start;

    &__title {
      &-wrap {
        width: 275px;
      }

      &-descr {
        width: 210px;
      }
    }
  }
}
