.video-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  &__top-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bottom-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 20px;

    &-approval {
      display: none;
    }
  }

  &__subtitle {
    &-wrap {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      width: 70%;
      margin-bottom: 15px;
    }

    &-text {
      padding: 3px 4px;
    }
  }

  &__title {
    width: 60%;
    margin-bottom: 25px;

    &-descr {
      width: 60%;
      margin-bottom: 35px;
    }
  }

  &__text {
    &:first-child {
      margin-bottom: 25px;
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__arrows {
    display: block;
    margin-bottom: 6px;
  }

  &__cost {
    position: relative;

    &::before {
      position: absolute;
      content: '1 300 грн';
      text-decoration: line-through;
      font-size: 17px;
      top: -2em;
      font-weight: 900;
      color: $p_text;
    }
  }

  &__title {
    font-size: 36px;

    &--uah {
      font-size: 19px;
    }
  }
}

.video-approval {
  width: 66%;
}

.arrows {
  color: $dark_main;
  background-color: $arrows;
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
}

.vc-list {
  width: 67%;
  margin-bottom: 70px;

  &__title {
    width: 85%;
    margin-bottom: 30px;
  }

  &__item {
    &:nth-last-of-type(n + 2) {
      margin-bottom: 30px;
    }

    &-title {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 768px) {
  .video-course {
    margin-bottom: 90px;
    &__top-wrap {
      flex-flow: row wrap;
      margin-bottom: 45px;
    }

    &__bottom-wrap {
      flex-flow: row wrap;
      align-items: flex-start;
    }

    &__title {
      width: 66%;

      &-descr {
        width: 66%;
        margin-bottom: 0;
      }

      &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        order: 2;
      }
    }

    &__img {
      margin-bottom: 0;
    }

    &__img-approval {
      display: block;
    }
  }

  .video-approval {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin-bottom: 50px;

    &__text-wrap {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 55%;
    }
  }

  .video-course {
    &__subtitle-wrap {
      width: 35%;
      padding-right: 5%;
    }

    &__text {
      width: 50%;
    }
  }

  .vc-list {
    display: flex;
    width: 75%;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 0;

    &__title {
      width: 25%;
      padding-right: 5%;
    }

    &__item {
      width: 30%;

      &:nth-of-type(n + 4) {
        margin-bottom: 0;
      }
    }
  }

  .price {
    width: 30%;

    &__title {
      font-size: 17px !important;

      &--uah {
        font-size: 12px !important;
      }
    }

    &__cost {
      &::before {
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .video-course {
    margin-bottom: 125px;
  }
}
