.do-it {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .do-it {
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 768px) {
  .do-it {
    margin-bottom: 125px;
  }
}
.block_doit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action {
  display: block;
  position: relative;
  width: 50%;
  margin-bottom: 40px;

  &__title {
    margin-bottom: 18px;
    display: block;
    position: relative;
  }

  &::before {
    content: 'go';
    width: 73px;
    height: 150px;
    display: block;
    position: absolute;
    z-index: -1;
    top: -50px;
    left: -75px;
    transform: rotateZ(90deg);
    color: $bg_text;
    font: {
      family: $main_font;
      size: 110px;
      weight: 900;
    }
    line-height: 200px;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    width: 80%;
    position: relative;
    padding-left: 30px;
    margin-bottom: 33px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 0px;
      width: 17px;
      height: 4px;
      background-color: $dark_main;
    }
  }
}

.choice {
  display: flex;
  flex-direction: column;
  width: 310px;

  &__p-s {
    display: block;
    color: $dark_main;
    font: {
      family: $main_font;
      size: 20px;
      weight: 900;
    }
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__closed {
    margin-bottom: 24px;
  }

  &__bad-job {
    letter-spacing: -0.51px;
    margin-bottom: 24px;
  }

  &__way {
    margin-bottom: 26px;

    & span {
      margin-bottom: 24px;
    }
  }
}

.choice__your {
  text-align: right;
}

@media (min-width: 768px) {
  .block_doit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 45%;

    &__title {
      display: block;
      position: relative;
      width: 310px;
      font: {
        size: 27px;
        width: 700;
      }
      line-height: 34px;
      margin-bottom: 22px;
    }

    &::before {
      content: 'go';
      width: 104px;
      height: 215px;
      top: -70px;
      left: 230px;
      font-size: 150px;
    }

    &__button {
      align-self: center;
    }
  }

  .choice {
    display: block;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 270px;

    &__p-s {
      display: block;
      position: absolute;
      top: -10px;
      left: -70px;
      color: $dark_main;
      font: {
        family: $main_font;
        size: 20px;
        weight: 900;
      }
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    &__closed {
      width: 250px;
      font-size: 12px;
      line-height: 13px;
      margin-bottom: 14px;
    }

    &__bad-job {
      font-size: 11px;
      line-height: 12px;
      letter-spacing: -0.51px;
      margin-bottom: 24px;
    }

    &__way {
      font-size: 11px;
      font-weight: 400;
      line-height: 12px;
      margin-bottom: 26px;

      & span {
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        margin-bottom: 24px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .block_doit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .action {
    margin-right: 111px;

    &__title {
      display: block;
      position: relative;
      width: 350px;
      font: {
        size: 30px;
        width: 900;
      }
      line-height: 38px;
      margin-bottom: 28px;
    }

    &::before {
      content: 'go';
      width: 104px;
      height: 215px;
      top: -70px;
      left: 230px;
      font-size: 150px;
    }

    &__button {
      display: flex;

      align-self: center;
    }
  }

  .choice {
    display: block;
    position: relative;
    width: 270px;

    &__p-s {
      display: block;
      position: absolute;
      top: -10px;
      left: -70px;
      color: $dark_main;
      font: {
        family: $main_font;
        size: 20px;
        weight: 900;
      }
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    &__closed {
      width: 270px;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 18px;
    }

    &__bad-job {
      font-size: 11px;
      line-height: 12px;
      letter-spacing: -0.51px;
      margin-bottom: 30px;
    }

    &__way {
      font-size: 11px;
      font-weight: 400;
      line-height: 12px;
      margin-bottom: 26px;

      & span {
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        margin-bottom: 24px;
      }
    }
  }
}
