.awards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 77px;
  &__title {
    font-family: $main_font;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    color: $dark_main;
    text-transform: uppercase;
    width: 380px;
    margin-bottom: 23px;

    &-descr {
      margin-bottom: 18px;

      &-wrap {
        width: 335px;
        margin-bottom: 40px;
      }
    }

    &-text {
      text-transform: none;
    }
  }

  &-bottom-half {
    width: 70%;
  }

  &-top-half {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.awards-photo {
  margin-bottom: 60px;
}

.awards-online-learn {
  width: 335px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 40px;

  &:before {
    position: absolute;
    content: '';
    top: 5px;
    left: 0px;
    display: inline-block;
    background-color: $dark-main;
    width: 25px;
    height: 3px;
    margin: 3px 15px 3px 0;
  }
}

.awards-list__title,
.awards-facts__text {
  display: inline-block;
  align-self: flex-start;
  margin-bottom: 35px;
}

.awards-list {
  list-style-type: none;
  align-self: flex-start;
  &__item {
    padding-right: 20%;
    &:nth-last-of-type(n + 2) {
      margin-bottom: 45px;
    }
    &-title {
      margin-bottom: 15px;
      width: 190px;
    }

    &-text {
      margin-bottom: 45px;
      &--modify {
        display: block;
      }
    }
  }
}

// awards-pseudo

.oon-logo {
  position: relative;
}

.oon-logo::before {
  content: '';
  position: absolute;
  background-image: url("../images/mob/emblem.png");
  background-size: cover;
  height: 68px;
  width: 80px;
  right: 0;
  z-index: -1;
}

.it-awards {
  position: relative;
}

.it-awards::after,
.best-edu15::after,
.best-edu16::after {
  content: '0' counter(awards-list__item) '_';
  display: block;
  position: absolute;
  top: 0;
  right: 20%;
  transform: rotateZ(-90deg);
  width: 38px;
  height: 72px;
  color: $pe_color;
  counter-increment: awards-list__item;
  font: {
    family: $bg_font;
    size: 50px;
    weight: 700;
  }
  line-height: 18px;
  text-transform: uppercase;
}

.it-awards::before {
  content: '';
  position: absolute;
  background-image: url("../images/mob/award-1@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 140px;
  right: 0;
}

.best-edu15,
.best-edu16 {
  position: relative;
}

.best-edu15::before,
.best-edu16::before {
  content: '';
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  width: 70px;
  height: 110px;
}

.best-edu15::before {
  background-image: url("../images/mob/award-2@1x.png");
}

.best-edu16::before {
  background-image: url("../images/mob/award-3@1x.png");
}
