.facts-title {
  font-family: $main_font;
  font-size: 20px;
  font-weight: 900;
  color: $dark_main;
  text-transform: uppercase;

  &__text {
    position: relative;
    margin: 43px 0 45px;

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: -40px;
      display: inline-block;
      background-color: $dark-main;
      width: 25px;
      height: 3px;
      margin: 3px 15px 3px 0;
    }
  }
}

.facts-list {
  list-style-type: none;
  max-width: 390px;

  &__item {
    position: relative;
    margin-top: 20px;

    &:first-child {
      margin-top: 0px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      display: inline-block;
      background-color: $accent;
      top: 15px;
      left: -20px;
    }
  }
}

.facts-list__main-text {
  font-family: $main_font;
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
  color: $dark_main;

  &--little {
    font-size: 14px;
  }
}

.facts-list__secondary-text {
  display: inline;
  font-family: $main_font;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: $dark_main;
  background-color: $marker;
  padding: 1px 2px;
}

.facts-list__text-description {
  margin-top: 15px;
}
