.heading {
  width: 188px;
  margin-bottom: 11px;
  text: {
    transform: uppercase;
    align: center;
  }
  font: {
    family: $main_font;
    size: 18px;
    weight: 900;
  }
  line-height: 24px;
  color: $dark_main;
}

.section-text {
  width: 278px;
  margin-bottom: 26px;
  font: {
    family: $main_font;
    size: 14px;
    weight: bold;
  }
  color: $dark_main;
  line-height: 20px;

  &--mark {
    color: $lite_main;
    background-color: $dark_main;
  }
}
