.possibility {
  &-list {
    list-style-type: none;
  }
  &__img {
    margin: 20px auto;
  }
  &__instruction {
    width: 300px;
    margin-bottom: 30px;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__advice {
    color: $accent;
    font-size: 14px;
    width: 340px;
    margin-top: 50px;
  }
}

.accent-item {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  padding-left: 30px;
  width: 300px;
  counter-increment: count-one;

  &:nth-last-of-type(n + 2) {
    margin-bottom: 30px;
  }

  &::before {
    box-sizing: border-box;
    position: absolute;
    color: $lite_main;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    content: '[00' counter(count-one) ']';
    background-color: $accent;
    left: -11px;
    top: 17px;
    transform: rotateZ(-90deg);
  }

  &__title {
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.btn-center {
  text-align: center;

  .btn {
    font-family: $main_font;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
    color: $lite_main;
    background-color: $accent;
    border: 2px solid $accent;
    box-shadow: 0 5px 5px $btn_shadow;
    padding: 17px 34px;
    margin: 35px auto;
  }
}
