.heading {
  text-align: center;
}

.section-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.because__title {
  font-size: 14px;
  font-weight: 700;
  color: $lite_main;
  background-color: $dark_main;
  text-transform: uppercase;
  padding: 3px 0;
}
