.possibility {
  margin-bottom: 80px;

  &-bottom-half {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &-title {
    display: none;

    &__descr {
      width: 80%;
      display: none;
    }

    &-wrap {
      width: 42%;
    }
  }

  &-list {
    margin-bottom: 50px;

    &__item {
      width: 300px;

      &:nth-last-of-type(n + 2) {
        margin-bottom: 30px;
      }

      &-title {
        margin-bottom: 15px;
      }
    }
  }

  &__img {
    margin-bottom: 20px;
  }

  &__instruction {
    width: 300px;
    margin-bottom: 30px;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__advice {
    width: 340px;
    margin-bottom: 36px;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 26px;
      height: 2px;
      background-color: $dark_main;
      left: -30px;
      top: 15px;
      transform: rotateZ(-60deg);
    }
  }
}

@media screen and (min-width: 768px) {
  .possibility {
    margin-bottom: 90px;

    &__img {
      margin-bottom: 0;
    }

    &-top-half {
      display: flex;
      justify-content: space-between;
      margin-bottom: 55px;
    }

    &-bottom-half {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
    }

    &-list {
      width: 75%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: 25px;

      &__item {
        width: 33%;

        &-title {
          margin-bottom: 10px;
        }
      }
    }

    &__instruction {
      width: 25%;
      font-size: 9px;
      line-height: 17px;
      padding-right: 5%;
    }

    &-title {
      display: block;
      margin-bottom: 25px;

      &__descr {
        display: block;
      }
    }

    &__advice {
      margin-bottom: 0;
      width: 33%;
      margin-right: auto;
      order: 2;
      align-self: center;
    }
  }

  .possibility-btn {
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  .possibility {
    margin-bottom: 125px;
  }
}
