.block-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-title {
  margin-bottom: 21px;

  &__four {
    width: 200px;
  }
}

.steps-list {
  &__item {
    align-self: flex-start;
    margin-bottom: 33px;

    &-title {
      text-transform: uppercase;
      color: $dark_main;
      font-weight: 700;
      line-height: 21px;
      font-size: 13px;
    }

    &-text {
      font-size: 13px;
      line-height: 19px;
    }
  }
}

.and-more {
  font-size: 15px;
  line-height: 19px;
  position: relative;
  font-weight: 500;
  margin-bottom: 45px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 15px;
    left: -30px;
    width: 30px;
    height: 2px;
    transform: rotateZ(-60deg);
    background-color: $dark_main;
    padding-right: 10px;
  }
}
