.possibility {
  &-list {
  }
  &__img {
    margin: 20px auto;
  }
  &__instruction {
    width: 300px;
    margin-bottom: 30px;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__advice {
    color: $accent;
    font-size: 14px;
    width: 340px;
    margin-top: 50px;
  }
}

.accent-item {
  width: 300px;

  &:nth-last-of-type(n + 2) {
    margin-bottom: 30px;
  }

  &__title {
    padding-bottom: 10px;
  }
}

.btn-center {
  text-align: center;

  .btn {
    font-family: $main_font;
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
    color: $lite_main;
    background-color: $accent;
    border: 2px solid $accent;
    box-shadow: 0 5px 5px $btn_shadow;
    padding: 17px 34px;
    margin: 35px auto;
  }
}
