.bonus {
  margin-bottom: 60px;

  &__title {
    width: 270px;
    margin-bottom: 20px;

    &-text {
      width: 260px;
      margin-bottom: 55px;
    }
  }

  &-list {
    width: 270px;

    &__item {
      &:nth-last-of-type(n + 2) {
        margin-bottom: 35px;
      }

      &-title {
        margin-bottom: 15px;
        font-size: 13px;
        line-height: 22px;
        font-weight: 700;
      }
    }
  }

  &-wrap {
    margin-bottom: 25px;
  }
}

.form-client {
  width: 360px;
  height: 330px;
  box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.15);
  background-color: $lite_main;
}

.reg-info {
  padding: 60px;
}

.form_name {
  font-weight: 700;
  margin-bottom: 13px;
}

.form_info {
  width: 245px;
  font-size: 10px;
  color: $dark_main;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-color: $p_text;
  border-bottom-width: 1px;

  &:focus::placeholder {
    content: '';
    opacity: 0;
  }

  &::placeholder {
    color: $dark_main;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .bonus {
    margin-bottom: 95px;

    &__title {
      width: 260px;
      margin-bottom: 20px;

      &-text {
        width: 210px;
        margin-bottom: 40px;
      }
    }

    &-list {
      width: 230px;

      &__item {
        &:nth-last-of-type(n + 2) {
          margin-bottom: 30px;
        }

        &-title {
          margin-bottom: 17px;
          font-size: 11px;
          line-height: 14px;
          font-weight: 700;
        }

        &-text {
        }
      }
    }

    &-wrap {
      width: 260px;
      margin-bottom: 25px;
    }
  }
}

.reg-info {
  padding: 56px;
}

.form_info {
  width: 245px;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 23px;
  color: $dark_main;
}

@media (min-width: 992px) {
  .bonus {
    margin-bottom: 125px;

    &__title {
      width: 290px;
      margin-bottom: 25px;

      &-text {
        width: 230px;
        margin-bottom: 27px;
      }
    }

    &-list {
      width: 250px;

      &__item {
        &:nth-last-of-type(n + 2) {
          margin-bottom: 25px;
        }

        &-title {
          margin-bottom: 16px;
          font-size: 11px;
          line-height: 15px;
          font-weight: 700;
        }

        &-text {
        }
      }
    }

    &-wrap {
      width: 290px;
      margin-bottom: 25px;
    }
  }
}
.reg-info {
  padding: 62px;
}

.form_info {
  width: 245px;
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 23px;
  color: $dark_main;
}
